.nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
  .nav { 
      background-image: blue 
}

.jumbotron {
  background-image: blue 
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 89px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 25px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}


.neighborhood-guide {
  background-image:url('http://hdwallsource.com/img/2014/5/light-blue-wallpaper-7851-8144-hd-wallpapers.jpg');
  height: 500px;
}

.learn-more{
    background: blue;
}

.neighborhood-guide p {

font-size: 34px;
font-family:  'Shift', sans-serif;
}
